@media screen and (min-width: 800px){
  
*{
    margin: 0;

    h1{
        font-family: Roboto;
    }

    h2,nav{
        font-family: Poppins;
        text-transform: capitalize;
    }
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem 0;
    height: 7rem;

    .profile{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }


    .controls{
        display: none;
    }

    .navigation{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: black;
        height: 3rem;


        a{
            text-decoration: none; 
            color: white;
        }
    }

}


main{
    height:auto;
    margin: 3rem auto;
    width: 60rem;

    h2{
        text-align: center;
    }
    


    .main_contents{
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        gap: 3rem;
        
    }

    .coursework{
        width: 45rem;
        border: 1px solid white;

        h2{
            position: relative;
            top: 0rem;
        }
    }

    .country{
        height: auto;
        border: 1px solid black;
        
        
        h2{
            position: relative;
            top: 0rem;
            background-color: black;
            color:white;
            margin-bottom: 2px;
        }

        picture{
        
            img{
                width: 15rem;
            }
        }
    }
}

aside{
    margin: 2rem auto;
    width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;

    .certificate_selections{
       
        button{
            border: 2px solid black;
            width: 5rem;
            padding: .3rem;
            border-radius: 7px;
        }
    }


    .certificates_courses{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem;
        
        button{
            margin: 1rem;
            width: auto;
            padding: .5rem;
            border-radius: 10px;
            border: 2px solid black;

            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}


footer{
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    background-color: black;
    color: white;
}

}